/* stylelint-disable block-opening-brace-space-before */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-list-comma-newline-after */
/* stylelint-disable indentation */
/* stylelint-disable csstree/validator */
/* stylelint-disable selector-class-pattern */
body {
  text-align: center;
}

.main-container {
   margin: 0 auto;
}

.hr {
  width: 100px;
  border: 1px solid gray;
}

form {
  width: fit-content;
  margin: 0 auto;
  text-align: end;
}

#book-list {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid gray;
}

.book-list-container {
  display: grid;
  margin-bottom: 0;
}

input {
  margin-bottom: 5px;
  width: 300px;
  height: 30px;
  padding: 2px;
}

.bookTitle {
  margin-right: 10px;
  margin-left: 20px;
}

span {
  margin-right: 10px;
}

.bookList1 {
  display: flex;
  position: relative;
}

.bookList1:nth-child(even) {
  background: #ccc;
}

.bookList1:nth-child(odd) {
  background: #fff;
}

.delete {
  position: absolute;
  right: 20px;
  top: 20%;
}

button {
  padding: 5px;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 0 20px;
  align-items: center;
  font-size: large;
}

.logo {
  margin: 0;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 10px;
  border-right: 2px solid gray;
  padding: 4px 0;
  padding-right: 10px;
  cursor: pointer;
}

.contact-info p,
.contact-info li {
text-align: start;
}

nav li:hover {
  color: blue;
}

.contact {
  border: none;
  position: relative;
}

.form-container {
  display: block;
}

#current-date {
  font-size: small;
  text-align: right;
  font-weight: 600;
}

.contact-info {
  display: block;
  font-size: large;
}

.footer {
  display: inline-block;
  border: 2px solid gray;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
}
